@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('./B2.jpg') center center/cover;
}

.mainContainer{
    background: linear-gradient(45deg, #05052e, #0e0e2c);
    height: 100vh;
    width: 100%;
    opacity: 0.97;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: fit-content;
}

.QuotesArea {
    border: 1px solid;
    padding: 7% 8%;
    position: relative;
    width: 50rem;
    border-radius: 5px;
    height: 20rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, #fafafa, #ffffff);
}

#Quotes {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

#Quotes::before {
    content: '\f10d';
    position: absolute;
    font-weight: 900;
    color: #1292ff;
    top: 20%;
    left: 5%;
    font-family: "Font Awesome 5 Free";
}

#Quotes::after {
    content: '\f10e';
    position: absolute;
    font-weight: 900;
    color: #1292ff;
    bottom: 30%;
    right: 7%;
    font-family: "Font Awesome 5 Free";
}

#Author {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: #515151;
    font-weight: bold;
}

.btnArea {
    margin-top: 3rem;
    display: flex;
    gap: 30px;
}


.btn {
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#tweet {
    display: flex;
    align-items: center;
    background: #1292ff;
    color: white;
    gap: 4px;
}

#tweet:hover {
    background: white;
    color: #1292ff;
    transition: all 0.5s;
}

#GetNewQuotes:hover {
    background: black;
    color: white;
    outline: 1px solid white;
    transition: all 0.3s;
}

#GetNewQuotes:active{
    background: rgb(30, 30, 30);
}

/*
========================
*=> Media Querys:-- 
========================
*/

@media (max-width:900px) {
    
    .QuotesArea {
        width: 40rem;
        padding: 7% 10%;
    }

    #Quotes {
        font-size: 1.8rem;
    }
}


@media (max-width:768px) {
    
    .QuotesArea {
        width: 30rem;
        padding: 7% 10%;
    }

    #Quotes {
        font-size: 1.4rem;
    }
}


@media (max-width:550px) {
    
    .QuotesArea {
        width: 85%;
        padding: 7% 15%;
        min-height: 25rem;
    }

    #Quotes {
        font-size: 1.1rem;
    }
}


@media (max-width:380px) {
    
    .QuotesArea {
        width: 85%;
        padding: 7% 15%;
        min-height: 25rem;
    }

    #Quotes {
        font-size: 1rem;
    }

    #Author{
        font-size: 0.7rem;
    }

    .btn {
        padding: 8px 10px;
        font-size: 0.9rem;
    }

    .btnArea {
        gap: 10px;
    }
}